
/* CSS Document */


/*Koden är skriven av Toni Caktas*/



/* för att undvika default margin och padding*/
* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/dpyBackground.jpg)no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
/*footer {
	width: 50%;
	height: 170px;
	background-color: rgba(66,66,66,1.00);
	text-align: center;
	margin-top: 0%;
}*/


/******************************************************************************
			anti DRY del av css
*******************************************************************************/
.wrapperWhite,
.wrapperRed,
.wrapperYellow,
.wrapperBlue,
.wrapperBlack {
	width:50%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	}


.wrapperRed h1,
.wrapperYellow h1,
.wrapperBlue h1,
.wrapperBlack h1 {
	margin: 50px 0;
	padding: 0 5%;
	
	border-left: 1px solid rgba(255,255,255,.5);
	border-right: 1px solid rgba(255,255,255,.5);
	
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	
	font-size: 28px;
	height: 49px;
	letter-spacing: 3px;
	line-height: 42px;
	
	
}
	
.transparent {
	display:none;
	}
/*************************************************************
					Första sidan/ WHITE
**************************************************************/

/*tycker om body backgrunden talar och säger mycket om hur jag tillbringar min tid och jag 
vill att den ska synas, därför har jag
 "maincontainer" bara 50% av skärmen
*/



.wrapperWhite {
	
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 25%, rgba(255,255,255,0.96) 48%, rgba(255,255,255,0) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(255,255,255,0.96) 48%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(255,255,255,1) 25%,rgba(255,255,255,0.96) 48%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */


	padding-top: 5%;
	height: auto;
	
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	
	position: fixed;
	z-index: 0;
}
	
	
	
	
	
	
.wrapperWhite img {
	width: 15%;
	border-radius: 50%;
	margin-bottom: 10px;
	border: 2px solid #C7C7C7;
}
.wrapperWhite h1 {
	margin-bottom: 10px;
	font-size: 2em;
	text-transform: uppercase;
}
.wrapperWhite h1:after, .wrapperWhite p:after {
	content: "";
	display: block;
	margin: 10px auto 5px;
	float: none;
	border-bottom: 1px dashed #424242;
	width: 150px;
}
.wrapperWhite p {
	margin-bottom: 20px;
	width: 75%;
	font-size: 1.1em;
}
.wrapperWhite ul {
	width: 50%;
	margin-bottom: 20%;
}
.wrapperWhite ul li {
	list-style-type: none;
	
	box-shadow: 1px 1px 2px rgba(146,146,146,1);
	margin: 5% 0;
	padding: 2% 0;
	font-size: 1.2em;
	text-transform: uppercase;
	width: 100%;
	overflow: scroll;
}
.wrapperWhite ul li:hover {
	
	box-shadow: 1px 1px 2px white;
	cursor: pointer;
	text-shadow: 5px 5px 15px rgba(255,255,255,1.00);
	font-weight: 300;
	background-color:rgba(115,113,113,.5);
	color:black;
}
/*************************************************************
					About sidan/ RED
**************************************************************/

.wrapperRed {
	
	background-color: rgb(246, 97, 82);
	color: white;
	
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	
}

.wrapperRed section {
	width: 70%;
	margin-bottom: 50px;
	height: auto;
}
section p {
	font-family: 'Open Sans', sans-serif;
	font-size: .9em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 21px;
}
/*övre texten under ABOUT*/
.wrapperRed > p {
	margin-bottom: 50px;
	width: 60%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 179px;
	line-height: 25px;
	color: rgba(255,255,255,.9);
}
/*streckad linije under övre inlednings texten*/
.wrapperRed > p:nth-child(2):after {
	content: "";
	display: block;
	margin: 10% auto;
	float: none;
	padding: 0 0 18px;
	border-bottom: 1px dashed white;
	width: 150px;
}
/*rubrik i sectionerna*/
section h3 {
	margin-bottom: 10%;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.4em;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	height: 49px;
	letter-spacing: 3px;
	line-height: 42px;
	text-transform: uppercase;
}
.wrapperRed img {
	float: left;
	width: 10%;
	border: 1px dotted white;
	padding: 4%;
	margin-right: 10%;
	line-height: 100px;
	opacity: .5;
}
section p {
	text-align: left;
}
.familj img {
	float: right;
}
.familj p {
	float: left;
	width: 70%;
	text-align: left;
}
.basket:hover img, .familj:hover img, .fritid:hover img {
	transform: rotateZ(90deg);
	animation: img 1s;
	animation-direction: normal;
}
.fritid::after {
	content: "";
	display: block;
	margin: 10% auto;
	float: none;
	padding: 0 0 18px;
	border-bottom: 1px dashed white;
	width: 150px;
}
 @keyframes img {
 0% {
 transform: rotateZ(0);
}
 100% {
 transform: rotateZ(45deg);
}
}
/*********************************************
		Yellow Resume
**********************************************/

.wrapperYellow {
	
	background-color: rgba(213,174,0,1.00);
	color: white;
	
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	
}
	

.cv {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	
	margin-top: 10%;
	width: 80%;
}
.cv img {
	width: 50px;
}
h2 {
	border-bottom: 1px solid rgba(255,255,255,.3);
	padding-bottom: 2%;
	margin-bottom: 25%;
	font-weight: 100;
	font-family: 'Roboto', sans-serif;
}
.cv div {
	margin-bottom: 20%;
}
.cv h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: left;
	padding-left: 10%;
	width: 80%;
	text-transform: uppercase;
	font-size: 1.2em;
}
.anställning {
}
.utbildning p, .utbildning h4 {
	text-align: right;
}
.utbildning p, .anställning p {
	padding: 15%;
}
/*Skills*/

.skills {
	width: 100%;
	display: none;
}
.skills h4 {
	font-size: 2.3em;
	border-bottom: 1px solid white;
	width: 30%;
	margin: 0 auto;
}
table {
	width: 70%;
	margin: 10% auto;
}
th {
	border: 1px solid white;
	width: 50px;
	height: 100px;
	border-radius: 50%;
	font-size: 2em;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	margin: 10px;
}
/*********************************************
		Blue PORTFOLIO
**********************************************/	
.wrapperBlue {
	
	background-color: rgba(44,151,222,1.00);
	color: white;
	
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	
}

.wrapperBlue ul {
	width: 90%;
}
.wrapperBlue ul li {
	display: inline-block;
	margin: 50px 25px;
	padding: 0 2%;
	list-style-type: none;
	text-transform: uppercase;
	font-size: 1.5em;
	border-bottom: 1px solid rgba(34,150,225,1.00);
}
.wrapperBlue ul li:hover {
	border-bottom: 1px dotted white;
	cursor: pointer;
}
.wrapperBlue ul li::after {
	content: "/";
	display: inline-block;
	margin-left: 30px;
	font-size: 1.2em;
	box-sizing: border-box;
	color: white;
}
.blueTable {
	border-collapse: collapse;
	width: 80%;
	margin: 100px 50px;
}
.blueTable img {
	width: 100%;
	height: 100px;
	margin: 0;
	padding: 0;
}
.blueTable td {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
.wrapperBlue p {
	width: 60%;
	margin: 10% auto 200px;
	border: 1px solid white;
	padding: 10% 5%;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	font-size: 1.2em;
}
.wrapperBlue p::before {
	content: url(../img/feather.png);
	display: block;
	margin: -100px auto 10px;
	padding: 0;
	background-color: #3498db;
	width: 50px;
}
/*********************************************
		Black Kontakt
**********************************************/	
.wrapperBlack {
	
	background-color: rgba(66,66,66,1.00);
	color: white;
	
	-webkit-box-pack: start;
	-moz-box-pack: start;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	

}
.wrapperBlack figure {
	display: block;
	width: 100%;
	margin-bottom: 50px;
	font-style: italic;
	color: rgba(216,216,216,.5);
}
figure img {
	width: 70%;
	box-shadow: 1px 1px 5px black;
}
.innerWrapper {
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	-webkit-box-orient: horizontal;
	-moz-box-orient: horizontal;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	-moz-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-align-content: center;
	-ms-flex-line-pack: center;
	align-content: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	
	width: 70%;
	margin-bottom: 50px;
}
.right {
	width: 50%;
}
.left {
	width: 50%;
	margin: 0;
	padding: 0;
}
.left p {
	text-align: left;
	height: 200px;
	margin: 30px 0px 10px;
	font-size: .9em;
	padding: 10px 2px 2px;
	line-height: 20px;
}
.left ul li {
	list-style-type: none;
	text-align: left;
	margin-bottom: 25px;
	font-size: .7em;
}
.wrapperBlack li:nth-child(1)::before {
	content: url(../img/home.png);
}
.wrapperBlack li:nth-child(2)::before {
	content: url(../img/email.png);
}
.wrapperBlack li:nth-child(3)::before {
	content: url(../img/telephone.png);
}
.wrapperBlack li:nth-child(n-3)::before {
	border-bottom: 1px dotted white;
	margin-right: 10px;
}
.wrapperBlack ul li {
	white-space: pre-wrap;
}
#namn, #email, #tema, #medelande {
	width: 85%;
	height: 40px;
	background-color: rgba(62,62,62,1.00);
	color: rgba(171,171,171,1.00);
	border: 1px solid rgba(171,171,171,.3);
	padding-left: 10%;
	letter-spacing: 2px;
	font-size: .9em;
	font-weight: 100;
	margin-bottom: 10%;
	font-family: 'Roboto', sans-serif;
}
#medelande {
	height: 120px;
	margin-bottom: 10px;
}
.wrapperBlack button {
	padding: 2% 10%;
	background-color: rgba(171,171,171,1.00);
	color: rgba(62,62,62,1.00);
	border: 1px solid rgba(171,171,171,.3);
}
.wrapperBlack button:hover {
	background-color: rgba(62,62,62,1.00);
	color: rgba(171,171,171,1.00);
}
.wrapperRed, .wrapperYellow, .wrapperBlue, .wrapperBlack {
	position: absolute;
	top: 0%;
	left: 0;
	z-index: -1;
	overflow: scroll;
}

nav {
	display:none;
	}
/**********************************************
		MEDIA QUERRIES
***********************************************/




@media only screen 
and (min-device-width: 320px) 
and (max-device-width: 568px) 
 {
	/*and (-webkit-min-device-pixel-ratio: 2)*/
/*denna navigator ska enbart synas på mobila iphone5 */
nav {
	display:block;
	width: 100%;
	background-color: rgba(30,194,103,1.00);
	height: auto;
	text-transform: uppercase;
	position: fixed;
	z-index: 1;
}
nav button {
	text-align: center;
	width: auto;
	margin: 0 0 0 5%;
	background-color: transparent;
	color: white;
	border: 0px;
	padding: 2%;
	font-size: 4em;
	text-transform: uppercase;
}
nav li {
	list-style-type: none;
	display: none;
	border: 1px dotted white;
	text-align: center;
	font-size: 4em;
	color: white;
	font-family: 'Roboto', sans-serif;
	padding: 5%;
}

.wrapperWhite  {
	

background: -moz-linear-gradient(top,  rgba(255,255,255,1) 25%, rgba(255,255,255,0.96) 48%, rgba(255,255,255,0) 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 25%,rgba(255,255,255,0.96) 48%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgba(255,255,255,1) 25%,rgba(255,255,255,0.96) 48%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */




	}

.wrapperWhite, .wrapperRed {
	width: 100%;
	margin-left: 0%;
}
.wrapperWhite img {
	margin-top: 10%;
	width: 30%;
}
.wrapperWhite h1 {
	margin-bottom: 5%;
	font-size: 4em;
	width: 100%;
}
.wrapperWhite p {
	margin-bottom: 80%;
	width: 75%;
	font-size: 2.2em;
}
.wrapperWhite ul li {
	display:none;
}
/*******************************
		RED MQ
********************************/
.wrapperRed h1 {
	margin:20% 20%;
	font-size: 6em;
	width: 50%;
	
	border-left: 10px solid rgba(255,255,255,.5);
	border-right: 10px solid rgba(255,255,255,.5);
	
}
.wrapperRed > p {
	font-size: 1.8em;
	height: auto;
	line-height: 45px;
	text-align: center;
	width: 90%;
	padding: 5%;
}
.wrapperRed > p:nth-child(2):after {
	border-bottom: 5px dashed white;
	width: 550px;
}
section h3 {
	font-size: 2.5em;
}
.wrapperRed section {
	margin:10%;
	line-height: 40px;
	height: auto;
	
	
}
section p {
	font-family: 'Open Sans', sans-serif;
}
.basket img,
.fritid img {
	margin-bottom: 35%;
	width: 20%;
	
}
.basket p {
	font-size: 1.5em;
}

.familj  {
	display:none;
	}

.fritid p {
	font-size: 2.7em;
	line-height: 41px;
	
	
	
}
.fritid::after {
	border-bottom: 5px dashed white;
	width: 550px;
}
/************************************
		YELLOW RESUME
**************************************/	

.wrapperYellow {
	width: 100%;
}
.wrapperYellow h1 {
	font-size: 6em;
	font-weight: 300;
	letter-spacing: 10px;
	margin-top: 20%;
}
.cv {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	margin-top: 10%;
	width: 100%;
}
.utbildning h4, .anställning h4, .cv p {
	text-align: center;
}
.cv h4 {
	border: 1px solid rgba(255,255,255,.5);
	text-align: center;
	padding-left: 0%;
	background: rgba(200,155,0,1.00);
	width: 100%;
	font-size: 3em;
}
.cv p {
	font-size: 1.1em;
}
.utbildning img, .anställning img {
	width: 25%;
}
.utbildning h2, .anställning h2 {
	text-transform: uppercase;
	font-size: 3.5em;
	border-bottom: 2px solid white;
}
.skills {
	display: none;
}
/************************************
		BLUE PORTFOLIO
**************************************/	
.wrapperBlue {
	width: 100%;
}
.blueTable {
	width: 95%;
}
.blueTable img {
	height: 200px;
}
.wrapperBlue h1 {
	margin: 20% 0;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding: 0 5%;
	font-size: 6em;
}
.wrapperBlue ul {
	width: 90%;
}
.wrapperBlue ul li {
	font-size: 3em;
	border-bottom: 5px solid rgba(34,150,225,1.00);
}
.wrapperBlue ul li:hover {
	border-bottom: 5px dotted white;
	cursor: pointer;
}
.wrapperBlue p {
	width: 60%;
	margin: 0 auto 30%;
	border: 5px solid white;
	font-size: 2em;
}
.wrapperBlue p::before {
	margin: -90px auto 10px;
}
/************************************
		BLACK KONTAKT
**************************************/	

.wrapperBlack h1 {
	font-size: 5em;
	margin-top: 20%;
}
.wrapperBlack {
	width: 100%;
}
.innerWrapper {
	-webkit-box-orient: vertical;
	-moz-box-orient: vertical;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	width: 100%;
}
.right, .left {
	width: 90%;
}
.left p {
	text-align: center;
	height: 500px;
	margin-bottom: 5%;
	font-size: 4em;
	line-height: 90px;
}
.left ul li {
	text-align: center;
	font-size: 2.7em;
}
#namn, #email, #tema, #medelande {
	height: 100px;
	font-size: 1.9em;
}
#medelande {
	height: 400px;
}
button {
	margin-top: 5%;
	font-size: 3em;
}
footer {
	display: none;
}

.wrapperRed,
.wrapperYellow,
.wrapperBlue,
.wrapperBlack { 
display:none;
}

}
